doctype html
html
  head
    include includes/head
    script.
      ga('require', 'ecommerce', 'ecommerce.js');
    script.
      ga('ecommerce:addTransaction', {
        id: '{{pledge.key()}}',
        revenue: {{pledge.amountCents}} / 100.0,
      });
      ga('ecommerce:send');
      window.optimizely = window.optimizely || [];
      window.optimizely.push(['trackEvent', 'pledged', {'revenue': {{pledge.amountCents}}}]);

  body#privacy
    include includes/header
    .container
      .page-header
        h1 Thank You
      .row
        .col-md-12
          p Thank you for pledging {{pledge.amountCents | formatCents}} in support of Lessig for President. Here is how you can multiply your impact right now:
          ol            
            li Share with your friends on  <a href="https://www.facebook.com/sharer/sharer.php?u=https://lessigforpresident.com" title="Share on Facebook">Facebook</a>
    .spacing
    include includes/footer
    script(src="/static/conversion.js")
